@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/SAIBA-45-Outline.ttf') format('truetype'); /* Font dosyasının yolunu doğru şekilde belirtin */

}

@font-face {
    font-family: 'MyCustomFont1';
    src: url('fonts/SAIBA-45.ttf') format('truetype'); /* Font dosyasının yolunu doğru şekilde belirtin */

}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #6600ff, 0 0 20px #6600ff, 0 0 30px #6600ff, 0 0 40px #6600ff, 0 0 50px #6600ff, 0 0 60px #6600ff, 0 0 70px #6600ff;
    }
    to {
        text-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff, 0 0 45px #ff00ff, 0 0 60px #ff00ff, 0 0 75px #ff00ff, 0 0 90px #ff00ff, 0 0 105px #ff00ff;
    }
}

body h1 {
    font-family: 'MyCustomFont', sans-serif; /* İndirdiğiniz fontu kullanın */
    background: linear-gradient(to right, #ff77ff, #7700ff); /* Gradient renkleri */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: neon 5s ease-in-out infinite alternate; /* Neon animasyonu */
}




body {
    background-image: url(cyberpunk.jpg);
}



.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Siyah arka plan, %50 opaklık */
    width: 700px;
    left: 32%;
    border-radius: 40px 40px 40px 40px;

}
.nav-item a {
    margin-inline: 40px;
    background: linear-gradient(to right, #475bcf, #bb79c4, #8d5e7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%; 
    animation: rainbow-text 5s linear infinite;
    font-weight: bold;


}

@keyframes rainbow-text {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.navbar-nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    background-color: rgba(0, 0, 0, 0.2); /* Siyah arka plan, %50 opaklık */
    margin-top: 50px;
    border-radius: 20px;
}

#top-col {
    background-color: rgba(0, 0, 0, 0.2); /* Siyah arka plan, %50 opaklık */
    height: 500px;
    border-radius: 20px;
}

#top-col1 {
    position: relative; /* Mutlaka pozisyonu belirtilmeli */
    border-radius: 20px; /* İsteğe bağlı, arka plan ile uyumlu olacak şekilde */    
    background-image: url(cyuberpunkpx1.jpg);
    
}

#top-col1 .card {
    margin-top: 150px;
}

#top-col1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Şeffaf siyah */
    border-radius: 20px; /* İsteğe bağlı, arka plan ile uyumlu olacak şekilde */
}


#bottom-col {
    background-color: rgba(0, 0, 0, 0.7); /* Siyah arka plan, %50 opaklık */
    border-radius: 20px;
    font-family: 'MyCustomFont1', sans-serif; /* İndirdiğiniz fontu kullanın */
}

#bottom-col h1{
    font-family: 'MyCustomFont1', sans-serif; /* İndirdiğiniz fontu kullanın */

}




.col .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    width: 350%;
    height: 100px;
}

@keyframes borderAnimation {
    0% {
        border-color: #ded6e67e;
    }
    25% {
        border-color: #bc01f5bd;
    }
    50% {
        border-color: #c1b0d66e;
    }
    75% {
        border-color: #fc02fc88;
    }
    100% {
        border-color: #676569;
    }
}

.row #col-alt .btn {
    background-color: rgba(0, 0, 0, 0.6); 
    animation: borderAnimation 4s infinite;
    border-width: 2px;
    border-style: solid;

    border-radius: 5px;
}

.row #col-alt {
    margin-top: 20px;
    
}



#offcanvasexample {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6); 

    
}

.offcanvas {
    border-radius: 40px;
}


.carousel {
    display: flex;
    width: 80%;
    margin-left: 200px;

}
.carousel img {
    height: 800px;
}

.carousel p {
    color: #ffff;
}

.carousel h5 {
    color: #ffff;
}
